<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value="https://example.com/api/employees" />
    <add key="ApiUsername" value="" />
    <add key="ApiPassword" value="" />
    <add key="EmployeesFile" value="employees.json" />
    <add key="UploadedEmployeesFile" value="uploaded-employees.txt" />
    <add key="LogPath" value="logs\ilearn-integration.log" />
    <add key="MaxRetries" value="3" />
  </appSettings>
</configuration>
